*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #080808;
  color: whitesmoke;
  font-family: sans-serif;
}
.title{
  margin: 80px 170px;
  color: white;
}
.title > i{
font-size: 2rem;
}
.title > span{
  margin: 1rem;
  font-size: 30px;
  font-family: sans-serif;
}
.contain-progress{
display: flex;
flex-direction: column;
align-items: center;
}

.progress{
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      gap: 60px
}
.progress > span{
  display: flex;
  border-radius: 50%;
  background-color: #4CAF50;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  height: 100px;
  width: 100px;
}
.task{
margin: 20px;
}
.form-task{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-input {  
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 350px;
    margin-top: 40px;
}  

.add-button {  
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}  

.task-list {  
  margin-top: 20px;
 
}  

.task-item {  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  background-color: #1a1a1a;  
  padding: 10px;  
  border-radius: 5px;  
  margin: 5px 0;
  width: 400px;
}  

.task-text {  
  flex-grow: 1;  
}  
.edit-button{
margin: 5px;
height: 25px;
}
.edit-button, .delete-button {  
  background: none;  
  color: white;
  border: none;  
  cursor: pointer;  
  font-size: 1.2em;  
}  



